body {
  margin: 0px;
}
#header {
  line-height: 32px;
}
#title {
  margin-left: 8px;
}
#map {
  position: absolute;
  top: 32px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#property-editor {
  position: absolute;
  top: 10px;
  left: 46px;
  background: white;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-popup-content .title {
  font-size: 14px;
  font-weight: bold;
}
