body {
  margin: 0px;
}
#header {
  line-height: 36px;
}
#title {
  margin-left: 40px;
}
#title a {
  margin-left: 4px;
}
#title a img {
  vertical-align: middle;
}
#logo {
  position: absolute;
  top: 2px;
  left: 2px;
}
#map {
  position: absolute;
  top: 36px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#editor-wrapper {
  position: absolute;
  top: 46px;
  left: 46px;
  right: 10px;
  bottom: 10px;
  box-sizing: content-box;
  pointer-events: none;
}
#editor {
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  background: white;
  position: absolute;
  top: 0px;
  max-height: 100%;
  width: 400px;
  overflow: auto;
  padding: 2px;
  resize: both;
  pointer-events: auto;
}

.leaflet-popup-content .title {
  font-size: 14px;
  font-weight: bold;
}
.leaflet-bar .custom-icon {
  height: 16px;
  width: 16px;
  padding-top: 5px;
}
